#friends_moments{
    background-color: #FC6E51;
    margin-top: 20px;
    height: 128px;
    margin-left: 20px;
    font-size: 32px;
    font-family: "Chalkboard";
    text-align: center;
    padding-top: 35px;
    cursor: default;
}